* {
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos nas dimensões */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
}

html, body {
    height: 100%; /* Garante que o corpo ocupe a altura total da tela */
    overflow: hidden; /* Impede rolagem indesejada no body */
    width: 100%;
}

.layout-container {
    display: flex; /* Mantém o sidebar e o conteúdo lado a lado */
    height: 100vh; /* A altura total da visualização */
    overflow: hidden; 
    margin-left: 90px; /* Pode ser ajustado conforme necessário */
    width: 100%;
}

.container {
    flex: 1; /* Permite que o container ocupe o espaço restante */
    background-color: #f8f9fa; /* Cor de fundo */
    display: flex; /* Adiciona flex para alinhar o header e o conteúdo */
    flex-direction: column; /* Alinha os elementos em coluna */
    z-index: 1;
    width: 900px; /* Ajustar conforme necessário */
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    .layout-container {
        flex-direction: column; /* Para telas menores, muda para coluna */
        height: auto; /* Permite que a altura seja ajustada */
    }

    .container {
        margin-left: 0; /* Remove a margem esquerda em telas pequenas */
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Padding para o header */
}

.content {
    overflow-y: auto;
    overflow-x: auto; /* Adiciona barra de rolagem vertical se necessário */
    padding: 20px; /* Ajuste conforme necessário */
    width: 100%; /* Corrigido para ocupar a largura total */
    margin-bottom: 20px;
}

.col {
    width: 100%;
    padding: 20px;
}

body {
    margin: 0;
    padding: 0;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 870px; /* Ajustar conforme necessário */
    flex-grow: 1; /* Permite que o container cresça */
}

.calendar-container:hover {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

.calendar-week {
    display: flex;
    flex-wrap: wrap; /* Permite que os dias se ajustem em várias linhas */
    margin: 5px -5px; /* Espaço negativo para compensar a margem nos dias */
}

.calendar-day {
    flex: 0 0 calc(14.2857% - 10px); /* Cada dia ocupa aproximadamente 14.3% da largura */
    margin: 5px; /* Margem entre os dias */
    padding: 10px; /* Ajustado para compactar */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: background-color 0.2s; /* Transição suave ao passar o mouse */
}

.calendar-day:hover {
    background-color: #f0f0f0; /* Destaca o dia ao passar o mouse */
}

.calendar-day.empty {
    background-color: transparent;
    box-shadow: none;
}

.day-number {
    font-size: 1.5rem; /* Ajuste o tamanho do número do dia */
    color: #32315e;
    font-weight: bold; /* Negrito para destacar o número do dia */
}

.task {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 3px; /* Menos padding para compactar */
    color: white;
    border-radius: 5px;
    font-size: 0.7rem; /* Tamanho menor para se ajustar melhor */
    width: calc(100% - 10px); /* Largura do task */
    text-align: center; /* Centraliza o texto da tarefa */
}

.task.normal {
    background-color: green;
}

.task.urgente {
    background-color: red;
}

.header-container {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; /* Menor espaço abaixo do cabeçalho */
    padding: 10px; /* Adicionando padding para espaçamento */
    background-color: #f0f0f0; /* Fundo para o cabeçalho */
    border-radius: 8px; /* Bordas arredondadas no cabeçalho */
}

.legenda-container {
    display: flex;
    margin-left: 25px; 
    padding: 20px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.legenda {
    display: flex;
    justify-content: space-around; 
    margin: 10px 0;
    font-size: 0.9rem; 
}

.legenda-item {
    display: flex;
    align-items: center; 
    margin: 10px;
}

.legenda-task {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.legenda-task.normal {
    background-color: #09ff00; 
}

.legenda-task.urgente {
    background-color: #fe0000; 
}

.legenda-task.atencao {
    background-color: #ffea00; 
}

.nav-bar {
    position: fixed; /* ou absolute, dependendo do layout desejado */
    top: 0; /* ajuste conforme necessário */
    left: 0; /* ajuste conforme necessário */
    width: 160px; /* Largura reduzida para o menu */
    height: 100%; /* ocupar toda a altura da página */
    background-color: #fff; /* cor de fundo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* sombra para destaque */
    z-index: 100; /* acima dos outros elementos */
}

.tab-container {
    display: flex;
    position: relative;
    padding: 2px;
    background-color: #dadadb;
    border-radius: 9px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

.indicator {
    content: "";
    width: 130px;
    height: 28px;
    background: #ffffff;
    position: absolute;
    top: 2px;
    z-index: 1;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    transition: left 0.2s ease-out;
}

.tab {
    width: 130px;
    height: 28px;
    position: relative;
}

.tab_input {
    display: none;
}

.tab_label {
    width: 130px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.75rem;
    opacity: 0.6;
    position: relative;
    z-index: 2;
    margin-bottom: 2px;
}

.tab_input:checked + .tab_label {
    opacity: 1;
}

.add-task-button {
    width: 150px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: solid;
    border-radius: 25px;
    cursor: pointer;
}

.add-task-button:hover {
    background-color: #0056b3;
}

.ReactModal__Overlay {
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.ReactModal__Content {
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 500px; 
    width: 90%; 
    padding: 20px; 
    border-radius: 10px; 
    background: white; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1001;
}

.modal-input {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

.modal-button-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 15px; 
}

.modal-button {
    flex: 1; 
    margin: 0 5px; 
    margin-right: 10px; 
    margin-bottom: 10px;
    padding: 8px 15px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.modal-button:hover {
    background-color: #0056b3; 
}

@media (max-width: 768px) {
    .calendar-day {
        padding: 10px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .calendar-day {
        padding: 5px;
        font-size: 0.8rem;
    }
}
