.col {
    width: 100%;
    padding: 20px;
}

body {
    margin: 0;
    padding: 0;
}


.calendar-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 100%;
    height: auto;
    flex-grow: 1;
}

.calendar-container:hover {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

.calendar-week {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 8px;
    align-items: center;
    flex-direction:calc(100% - 100px)
}

.calendar-day {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.calendar-day.empty {
    background-color: transparent;
    box-shadow: none;
}


.header-container {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
}

.legenda-container {
    display: flex;
    margin-left: 25px; 
    padding: 20px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.legenda {
    display: flex;
    justify-content: space-around; 
    margin: 10px 0;
    font-size: 0.9rem; 
}

.legenda-item {
    display: flex;
    align-items: center; 
    margin: 10px;
}

.legenda-task {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.legenda-task.normal {
    background-color: #09ff00; 
}

.legenda-task.urgente {
    background-color: #fe0000; 
}

.legenda-task.atencao {
    background-color: #ffea00; 
}

.day-number {
    font-size: 1.5rem;
    color: #32315e;
}

.task {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
}

.task.normal {
    background-color: green;
}

.task.urgente {
    background-color: red;
}


.nav-bar {
    position: fixed; /* ou absolute, dependendo do layout desejado */
    top: 0; /* ajuste conforme necessário */
    left: 0; /* ajuste conforme necessário */
    width: 200px; /* ou qualquer largura desejada */
    height: 100%; /* ocupar toda a altura da página */
    background-color: #fff; /* cor de fundo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* sombra para destaque */
    z-index: 100; /* acima dos outros elementos */
}


.tab-container {
    display: flex;
    position: relative;
    padding: 2px;
    background-color: #dadadb;
    border-radius: 9px;
    margin-bottom: 20px;
    width: auto;
    flex: 1;
}

.indicator {
    content: "";
    width: 130px;
    height: 28px;
    background: #ffffff;
    position: absolute;
    top: 2px;
    z-index: 1;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    transition: left 0.2s ease-out;
}

.tab {
    width: 130px;
    height: 28px;
    position: relative;
}

.tab_input {
    display: none;
}

.tab_label {
    width: 130px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.75rem;
    opacity: 0.6;
    position: relative;
    z-index: 2;
    margin-bottom: 2px;
}

.tab_input:checked + .tab_label {
    opacity: 1;
}


.add-task-button {
    width: 150px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: solid;
    border-radius: 25px;
    cursor: pointer;
}

.add-task-button:hover {
    background-color: #0056b3;
}


.ReactModal__Overlay {
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.ReactModal__Content {
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 500px; 
    width: 90%; 
    padding: 20px; 
    border-radius: 10px; 
    background: white; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1001;
}



.modal-input {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

.modal-button-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 15px; 
}


.modal-button {
    flex: 1; 
    margin: 0 5px; 
    margin-right: 10px; 
    margin-bottom: 10px;
    padding: 8px 15px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.modal-button:hover {
    background-color: #0056b3; 
}


@media (max-width: 768px) {
    .calendar-day {
        padding: 10px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .calendar-day {
        padding: 5px;
        font-size: 0.8rem;
    }
}
