body {
    font-family: Arial, sans-serif; /* Fonte padrão */
    background-color: #f4f4f4; /* Cor de fundo suave */
    margin: 0; /* Remove margens padrão */
    padding: 20px; /* Espaçamento interno */
}

.header_gut {
    background: linear-gradient(to right, #7e5bef, #6ab04c); /* Gradiente de roxo para verde */
    padding: 20px; /* Mais espaço para o cabeçalho */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espaço abaixo do cabeçalho */
}

.header-title {
    font-size: 28px; /* Tamanho maior para o título */
    font-weight: bold;
}

.update-button {
    background-color: #0984e3; /* Azul */
    color: white;
    font-weight: bold;
    padding: 12px 20px; /* Aumenta o tamanho do botão */
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para hover */
    width: fit-content;
}

.update-button:hover {
    background-color: #74b9ff; /* Azul mais claro */
}

.container {
    padding: 20px; /* Mais espaço no container */
    background-color: white; /* Fundo branco para o container */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: fit-content;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Aumenta espaço abaixo da seção de filtro */
}
.filter-input{
    margin-left: 10px;
    margin-right: 10px;
}

.filter-select {
    border: 1px solid #bdc3c7; /* Bordas cinzas */
    border-radius: 4px;
    padding: 10px; /* Aumenta o espaço interno */
    width: 200px; /* Largura fixa */
    margin-left: 10px;
}

.table {
    width: 100%;
    background-color: white;
    border: 1px solid #bdc3c7; /* Bordas cinzas */
    border-collapse: collapse; /* Para juntar bordas */
    border-radius: 8px; /* Bordas arredondadas na tabela */
    overflow: hidden; /* Para arredondar as bordas da tabela */
}

.table-header {
    background-color: #ecf0f1; /* Cinza claro */
    color: #34495e; /* Texto cinza */
    text-transform: uppercase;
    font-size: 14px; /* Aumenta o tamanho do texto */
}

.table-header th {
    padding: 12px; /* Espaçamento interno */
    text-align: left; /* Alinhamento à esquerda */
}

.table-body {
    color: #34495e; /* Texto cinza */
    font-size: 14px; /* Tamanho do texto */
}

.table-row {
    border-bottom: 1px solid #bdc3c7; /* Bordas cinzas */
}

.table-row:hover {
    background-color: #f5f5f5; /* Fundo cinza claro ao passar o mouse */
}

.table-cell {
    padding: 12px; /* Espaçamento interno */
    white-space: nowrap; /* Não quebrar linha */
}

.table-cell.text-center {
    text-align: center; /* Alinhamento ao centro */
}

.icon {
    margin: 0 8px; /* Margem nas laterais */
    cursor: pointer; /* Cursor em forma de mão */
}
