* {
  box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos nas dimensões */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove padding padrão */

}

html, body {
  height: 100%; /* Garante que o corpo ocupe a altura total da tela */
  overflow: hidden; /* Impede rolagem indesejada no body */
  height: 100%;
}

.layout-container {
  display: flex; /* Mantém o sidebar e o conteúdo lado a lado */
  height: 100vh; /* A altura total da visualização */
  overflow: hidden; 
  margin-left: 90px;
  width:100%;
}

.container {
  flex: 1; /* Permite que o container ocupe o espaço restante */
  background-color: #f8f9fa; /* Cor de fundo */
  display: flex; /* Adiciona flex para alinhar o header e o conteúdo */
  flex-direction: column; /* Alinha os elementos em coluna */
  z-index: 1;
  width: auto;
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column; /* Para telas menores, muda para coluna */
    height: auto; /* Permite que a altura seja ajustada */
  }

  .container {
    margin-left: 0; /* Remove a margem esquerda em telas pequenas */
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Padding para a header */
}

.content {
  flex: 1; /* Permite que o conteúdo ocupe o espaço restante */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
  padding: 20px; /* Ajuste conforme necessário */
}
