.card-tarefa {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: none;
    display: flex;
    flex-direction: row; /* Alinhando verticalmente os elementos */
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.card-tarefa h4 {
    font-size: 16px; /* Reduzindo o tamanho do título */
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.card-tarefa p {
    font-size: 15px; /* Mantendo o texto dos parágrafos menor */
    margin: 2px 0; /* Espaço entre os parágrafos */
    color: #666; /* Cor de destaque suave */
    margin-left: 18px;
}

.tempo {
    font-size: 15px;
    color: #000000;
    margin-top: 5px;
    text-align: left;
}

/* Alteração de cor ao passar o mouse sobre a tarefa */
.card-tarefa:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

/* Descrição com texto oculto se for muito longa */
.descricao {
    flex: 1;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

/* Definindo tamanho do status */
.status {
    font-weight: bold;
    color: #0910f0;
}

.reabrir-btn {
    width: 200px;
    background-color: #0910f0; /* Cor do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove borda */
    padding: 10px 15px; /* Preenchimento do botão */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Cursor indicando clicável */
    margin-left: 10px;
}

.reabrir-btn:hover {
    background-color: #0a1cf0; /* Cor ao passar o mouse */
}
